<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>To-Do-List</title>
</head>
<body>

    <nav>
        <h1>
            {{#if loggedIn}}
            <a href="/todolist">To-Do-List</a>
            {{else}}
            <a href="/">To-Do-List</a>
            {{/if}}
        </h1>
        <ul>
            {{#if loggedIn}}
            <li>
                <a href="/todolist">Dashboard</a>
            </li>
            <li>
                <a id="logout">Logout</a>
            </li>
            {{else}}
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            {{/if}}
        </ul>
    </nav>

    <main>
        {{{body}}}
    </main>

    {{#if loggedIn}}
    <script type="module" src="/js/logout.js"></script>
    {{/if}}
    <script src="https://kit.fontawesome.com/5510b3fd75.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>