<header>
    <div class="homepage-container">
        <p>Welcome to the Almighty. The one and only. The To-Do-List application. Where productivity meets simplicity.</p>
        <p>Stay organized and accomplish more. Say goodbye to forgotten tasks and missed appointments.</p>
        <p>Got things you need to get done? Places you need to be? Say hello to a more</p>
        <p>organized, stress-free life. Start achieving your goals today.</p>
        <p>Your to-do-list, reimagined.</p>
    </div>
    <div class="homepage-signup-container">
        <h2>Let's Get Started!</h2>
        <div class="homepage-btn-container">
            <button id="homepage-login-btn">Login</button>
            <button id="homepage-signup-btn">Sign Up!</button>
        </div>
    </div>
</header>

<script>
    document.getElementById('homepage-login-btn').addEventListener('click', () => {
        document.location.replace('/login');
    })

    document.getElementById('homepage-signup-btn').addEventListener('click', () => {
        document.location.replace('/signup');
    });
</script>