<div class="random-main-container">
    <div class="random-container">
        <img src="https://media.giphy.com/media/YuAvnVfbjTyFO/giphy.gif" alt="ben-dover">
        <h1>To-Do-List</h1>
        <a id="random-anchor" href="/todolist">Now get outta here</a>
    </div>
</div>