<div class="todolist-main-container">
    <div class="todolist-grid-container">
        {{#each data as |post|}}
        {{> todolist-post}}
        {{/each}}
    </div>

    {{#if loggedIn}}
    {{#if data.length}}
        <div class="todolist-btn-container">
            <a href="/todolist/new">
                <button id="create-post-btn">
                    Create New Post
                </button>
            </a>
        </div>
        {{else}}
        <div class="todolist-btn-container-two">
            <a href="/todolist/new">
                <button id="create-post-btn">
                    Create New Post
                </button>
            </a>
        </div>
    {{/if}}
    {{/if}}
</div>

<script src="/js/checkmark.js"></script>
<script src="/js/delete.js"></script>