<div class="todolist-main-container">
    <div class="todolist-grid-container">
        {{#each data as |post|}}
        {{> todolist-post}}
        {{/each}}
    </div>

    {{#if loggedIn}}
        <div class="todolist-btn-container">
            <a href="/todolist/new">
                <button id="create-post-btn">
                    Create New Post
                </button>
            </a>
        </div>
    {{/if}}
</div>

<script src="/js/checkmark.js"></script>