<div class="todolist-main-container">
    <div class="todolist-grid-container">
        {{#each data as |post|}}
        {{> todolist-post}}
        {{/each}}
    </div>

    {{#if loggedIn}}
        <div class="todolist-btn-container">
            <button id="create-post-btn">
                <a href="/todolist/new">Create New Post</a>
            </button>
        </div>
    {{/if}}
</div>

<script src="/js/todolist.js"></script>
<script src="/js/checkmark.js"></script>
