/* font-family: 'Give You Glory', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Roboto', sans-serif; */

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&family=Indie+Flower&family=Roboto&display=swap');

/* UNIVERSAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Indie Flower', cursive;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Give You Glory', cursive;
    font-size: 1.5rem;
    padding: 0.9rem 2.5rem 0.3rem;
    border-bottom: 2px solid #000;
    box-shadow: 0px 1px 0px 0px rgb(0 0 0 / 5%), 0px 1px 6px 0px rgb(0 0 0 / 80%);
}

nav ul {
    display: flex;
    margin-right: 1.5rem;
    gap: 1rem;
}

nav li {
    list-style-type: none;
    margin-left: 1.5rem;
}

nav a {
    text-decoration: none;
    color: #000;
    opacity: 1;
    transition: 0.2s ease-out;
    display: inline-block;
}

nav a:hover {
    opacity: 0.15;
}

nav a:active {
    transform: scale(0.9);
}

/* HEADER */
header {
    font-weight: bold;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5rem 2rem;
    gap: 3.5rem;
}

/* HOMEPAGE */
.homepage-signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.homepage-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#homepage-login-btn {
    cursor: pointer;
    font-size: 1.4rem;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    border: 1px solid #000;
    padding: 0.7rem 1.2rem;
    color: #000;
    border-radius: 15px;
    background-color: 	#7afcff;
    transition: 0.2s ease-out;
}

#homepage-login-btn:hover {
    background-color: 	#dcff46;
}

#homepage-login-btn:active {
    transform: scale(0.95);
}

#homepage-signup-btn {
    cursor: pointer;
    font-size: 1.4rem;
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    border: 1px solid #000;
    padding: 0.7rem 1.2rem;
    color: #000;
    border-radius: 15px;
    background-color: #ff7eb9;
    transition: 0.2s ease-out;
}

#homepage-signup-btn:hover {
    background-color: #fffeaa;
}

#homepage-signup-btn:active {
    transform: scale(0.95);
}

/* FORM */
.form-main-container {
    max-width: 200px; 
    margin: 1rem auto 0;
    height: 80vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-field {
    padding: 0.2rem 0 0.2rem 0.1rem;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    outline: none;
}

.form-button {
    cursor: pointer;
    padding: 0.5rem 0.7rem;
    border: none;
    border-radius: 3px;
    background-color: rgb(24, 113, 202);
    color: #fff;
    transition: 0.1s ease;
    margin: 1rem auto 0.6rem;
    display: block;
}

.form-button:hover {
    background-color: rgb(98, 176, 255);
}

.form-button:active {
    transform: scale(0.95);
}

.form-anchor {
    text-decoration: none;
    color: dodgerblue;
    font-size: 0.9rem;
    transition: 0.1s ease;
    display: block;
    text-align: center;
}

.form-anchor:hover {
    color: rgb(165, 210, 255);
}

/* SIGNUP */
.signup-header-container {
    text-align: center;
    margin-top: 3rem;
    font-family: 'Give You Glory', cursive;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    font-size: 1.2rem;
}

/* LOGIN */
.login-header-container {
    text-align: center;
    margin-top: 3rem;
    font-family: 'Give You Glory', cursive;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    font-size: 1.2rem;
}

/* LOGOUT */
#logout {
    cursor: pointer;
}

/* TODOLIST */
.todolist-main-container {
    padding: 3rem;
}

.todolist-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3rem;
}

.todolist-container {
    width: 100%;
    aspect-ratio: 1;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #fffeaa;
    position: relative;
    box-shadow: 1px 2px 7px #000;
    overflow-y: auto;
}

.todolist-main-container i {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.4rem;
}

.todolist-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    padding: 0 0.5rem;
    gap: 1.5rem;
}

#todolist-title {
    cursor: text;
    font-weight: bold;
    font-size: 1.6rem;
    outline: none;
}

#todolist-content {
    cursor: text;
    outline: none;
    font-size: 1.1rem;
}

#created-on {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: text;
    font-size: 0.8rem;
    color:rgb(141, 141, 141);
}

.todolist-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 6rem;
}

#create-post-btn {
    cursor: pointer;
    padding: 0.5rem 0.7rem;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: rgb(98, 176, 255);
    color: #000;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    transition: 0.2s ease-out;
    box-shadow: 3px 3px 7px #000;
}

#create-post-btn:hover {
    background-color: rgb(148, 202, 255);
    color: #fff;
}

#create-post-btn:active {
    transform: scale(0.95);
    box-shadow: none;
}
